<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="apps-net-menu" label="Internet">
  <item label="Chromium">
    <action name="Execute">
      <command>chromium</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Chromium</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="Firefox">
    <action name="Execute">
      <command>firefox</command>
      <startupnotify>
        <enabled>yes</enabled>
        <wmclass>Firefox</wmclass>
      </startupnotify>
    </action>
  </item>
  <item label="KDE IM">
    <action name="Execute">
      <command>ktp-contactlist</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Konversation">
    <action name="Execute">
      <command>konversation</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
</menu>

<menu id="system-menu" label="System">
  <item label="Openbox Configuration Manager">
    <action name="Execute">
      <command>obconf</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="KDE System Settings">
    <action name="Execute">
      <command>systemsettings</command>
      <startupnotify><enabled>yes</enabled></startupnotify>
    </action>
  </item>
  <item label="Manage Cups Printers">
    <action name="Execute">
      <command>xdg-open http://localhost:631/</command>
      <startupnotify>
        <enabled>no</enabled>
        <icon>cups</icon>
      </startupnotify>
    </action>
  </item>
  <separator />
  <item label="Reconfigure Openbox">
    <action name="Reconfigure" />
  </item>
</menu>

<menu id="root-menu" label="Openbox 3">
  <separator label="Applications" />
  <menu id="apps-net-menu"/>
  <item label="Kate">
    <action name="Execute">
      <command>kate</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Dolphin">
    <action name="Execute">
      <command>dolphin</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>
  <item label="Konsole">
    <action name="Execute">
      <command>konsole</command>
      <startupnotify>
        <enabled>yes</enabled>
      </startupnotify>
    </action>
  </item>  
  <separator label="System" />
  <menu id="system-menu"/>
  <separator />
  <item label="Log Out">
    <action name="Exit">
      <command>oblogout</command>
    </action>
  </item>
</menu>

</openbox_menu>
